<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id={{ GOOGLE_CLIENT_ID }}&redirect_uri={{BASE_URL}}api/v1/users/oauth/google/&scope=email&response_type=code">Авторизоваться через Google</a>
    <a href="https://www.facebook.com/v12.0/dialog/oauth?client_id={{ FACEBOOK_APP_ID }}&redirect_uri={{ BASE_URL }}api/v1/users/oauth/facebook/&scope=email&response_type=code">Авторизоваться через Facebook</a>
</body>
</html>